.content {
	margin-bottom: 20px;
}
.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
.footer p {
	margin: 10px;
	font-size: smaller;
	font-style: italic;
}
.post_title {
	font-weight: bold;
	font-style: italic;
}
.date_header {
	color: gray;
}
.my_info_container {
	width: 100%;
	text-align: right;
	padding-right: 10px;
	font-weight: normal;
}
.name {
	margin-right: 10px;
}
.career_title {
	margin-right: 10px;
	font-style: italic;
}