.content {
	margin-bottom: 20px;
}
.ui-header {
	background-color: #fff;
	color: #000;
	border: 0px;
}
.footer {
	background-color: #fff;
	color: #000;
	border: 0px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
.footer p {
	margin: 10px;
	font-size: smaller;
	font-style: italic;
}
.post_title {
	font-weight: bold;
	font-style: italic;
}
.date_header {
	color: gray;
}
.my_image_container {
	padding-top: 5px;
	padding-left: 5px;
}
.my_info_container {
	width: 100%;
	text-align: right;
	padding-right: 5px;
	font-weight: normal;
}
.name {
	margin-right: 10px;
}
.career_title {
	margin-right: 10px;
	font-style: italic;
}
.ui-bar-a .ui-btn-up-a, .ui-bar-a .ui-btn-hover-a, .ui-bar-a .ui-btn-down-a {
	background-color: #000;
	border: 1px solid #000;
}
