<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
    <meta name="author" content="Rafael Revi">
    <meta name="description" content="Personal website and rants about software development">
    <meta name="keywords" content="Rafael Revi, rrevi, rafael.revi, @rafael_revi">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ page.title }}</title>

	<link rel="icon" type="image/png" href="/static/images/favicon.png" />

	<link rel="stylesheet" href="/static/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/static/jquery-mobile-flat-ui-theme/jquery.mobile.flatui.css" />
	<link rel="stylesheet" href="/static/css/application.css">

	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.js"></script>
  	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-40719525-1']);
		_gaq.push(['_trackPageview']);

		(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
</head>
<body>
	<div data-role="page">
		<div data-role="header">
			<div class="ui-grid-a">
			    <div class="ui-block-a">
					<a href="/"><img src="/static/images/me.png" alt="Rafael Revi" /></a>
				</div>
			    <div class="ui-block-b">
			    	<table class="my_info_container">
			    		<tr>
			    			<td>
			    				<div class="name" style="margin-right: 10px;">Rafael Revi</div>
			    			</td>
			    		</tr>
			    		<tr>
			    			<td>
			    				<div class="career_title">Software Developer</div>
			    			</td>
			    		</tr>
			    		<tr>
			    			<td>
                              <a rel="external" class="btn btn-info" style="float: right" href="http://twitter.com/rafael_revi" data-role="button" data-inline="true">
									<i class="icon-twitter icon-large"></i>
								</a>
								<a rel="external" class="btn btn-info" style="float: right" href="http://github.com/rrevi" data-role="button" data-inline="true">
									<i class="icon-github icon-large"></i>
								</a>
								<a rel="external" class="btn btn-info" style="float: right" href="http://www.linkedin.com/in/rafaelrevi/" data-role="button" data-inline="true">
									<i class="icon-linkedin icon-large"></i>
								</a>
								<a rel="external" class="btn btn-info" style="float: right" href="mailto:rafael.e.revi@gmail.com" data-role="button" data-inline="true">
									<i class="icon-envelope icon-large"></i>
								</a>
			    			</td>
			    		</tr>
			    	</table>
				</div>
			</div>
		</div>
		<div data-role="content" class="content">
		{{ content }}
		</div>
		<div data-role="footer" class="footer" style="">
			<p>
				Hand built and crafted
			</p>
		</div>
	</div>
</body>
</html>
